/*** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-size: cover;*/
/*}*/

ul, li {
    padding: 0;
    margin: 0;
}

.page {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    margin: 0;
    font-family: "Bold",sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

.header {
    max-width: 1600px;
    width: 100%;
    height: 810px;
    display: flex;
    position: relative;
}

.header-background {
    width: 100%;
    position: absolute;
    background: lightgray 50% / cover no-repeat;
    z-index: 0;
}

.header_logo {
    width: 78px;
    height: 100px;
    transform: translate(224px, 32px);
    position: absolute;
    z-index: 1;
}

.nav {
    margin-left: 805px;
    margin-top: 80px;
    z-index: 3;
    width: 0;
    height: 0;
}

.menu {
    list-style-type: none;
    display: flex;
    z-index: 1;
}

.menu_title {
    color: #FFF;
    margin-right: 34px;
    z-index: 3;
    cursor:pointer;
}
.menu_title:hover{
    color: #FF8B00;
    text-decoration-line: underline;
}
.info {
    position: relative;
    display: flex;
    align-items: center;
    right: 498px;
    bottom: 80px;
    color: #FFF;
}
.info_device{
    width: 552px;
    height: 55px;
    z-index: 3;
    display: flex;
    position: absolute;
    margin-bottom: 112px;
    margin-left: -3px;
    font-size: 53px;
}
.info_device-paragraph{
    height: 90px;
    width: 546px;
    margin-top: 115px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}