**{
    margin: 0 ;
    padding: 0;
}
ul , li {
    padding: 0;
    margin: 0;
}

.main{
    width: 1600px;

}
.header {
    max-width: 1600px;
    min-height: 810px;
    background-color: red;
    display: flex;
    align-items: center;
    position: relative;
}
.logo {
    width: 78px;
    height: 100px;
    transform: translate(224px, 32px);
    position: absolute;
}

.menu{
    list-style-type:none;
    display: flex;

}
.menu_title{
    margin-right:28px;
}